.searchBar {
  width: 35vw;
  margin-left: 10px;
}

.icon-link {
  display: inline-block;
  margin-left: -30px;
  margin-right: 30px;
}

.icon-link.light {
  color: white;
}

.icon-link.dark {
  color: black;
}
